.highlights {
    width: 100%;
    height: 250vh;
    background: rgba(26, 112, 155, 0.05);
}
.text {
    position: relative;
    left: 10%;
    top: 13%;
    width: 70%;
}
.text h1 {
    color: #144761;
    font-size: 1.8vw;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #dededebb;
    width: 26%;
    height: 6vh;
}
.text p {
    width: 50%;
    color: #144761c2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.highlightsImg {
    position: relative;
    left: 65%;
    bottom: 3%;
    width: 30%;
}
.story {
    width: 80%;
    height: 27vh;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.story h1 {
    position: relative;
    text-align: center;
    color: #144761;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.story li {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: #144761c2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1vw;
    text-align: left;
    width: 80%;
}
.stories {
    position: relative;
    top: 0%;
    left: 5.5%;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stories div:nth-child(2) {
    transform: translate(60%);
}
.stories div:nth-child(4) {
    transform: translate(60%);
    height: 17vh;
}
.stories div:nth-child(5) {
    height: 20vh;
}
.story img {
    position: absolute;
    width: 6%;
    left: -3%;
    transform: translate(0%, 20%);
}
.learnMore {
    position: relative;
    left: 50%;
    width: 8%;
    height: 4.5vh;
    transform: translate(-50%, 350%);
    background: rgba(26, 112, 155, 0.1);
    border: none;
    outline: none;
    border-radius: 20px;
    color: rgba(26, 112, 155);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    transition: 0.5s;
}
.learnMore a {
    text-decoration: none;
    color: rgba(26, 112, 155);
}
@media (max-width: 480px) {
    .highlights {
        height: 165vh;
    }
    .text {
        width: 90%;
        margin-top: 30%;
        padding-top: 30%;
        top: 8%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text p {
        width: 100%;
        font-weight: normal;
    }
    .text h1 {
        font-size: 6vw;
        width: 67%;
        height: 4vh;
    }
    .story {
        width: 95%;
        height: 10vh;
    }
    .stories {
        width: 100%;
        left: 0%;
        align-items: center;
        justify-content: space-evenly;
        height: 55%;
        top: 0%;
    }
    .stories div:nth-child(1) {
        height: 16vh;
    }
    .stories div:nth-child(2) {
        transform: translate(0%);
        height: 14vh;
    }
    .stories div:nth-child(3) {
        height: 12.5vh;
    }
    .stories div:nth-child(4) {
        transform: translate(0%);
        height: 8.5vh;
    }
    .stories div:nth-child(5) {
        transform: translate(0%);
        height: 10vh;
    }
    .story h1 {
        font-size: 3vw;
        position: relative;
        bottom: 20%;
    }
    .story li {
        font-size: 2vw;
        text-align: center;
        font-weight: bold;
        color: rgb(140, 140, 140);
        position: relative;
        bottom: 20%;
    }
    .highlightsImg {
        left: 50%;
        transform: translate(-50%);
        top: -18vh;
        width: 45%;
    }
    .story img {
        position: relative;
        left: 0%;
        width: 20px;
        height: 20px;
    }
    .learnMore {
        position: relative;
        left: 50%;
        width: 20%;
        height: 3.5vh;
        transform: translate(-50%, 350%);
        background: rgba(26, 112, 155, 0.1);
        border: none;
        outline: none;  
        border-radius: 20px;
        color: rgba(26, 112, 155);
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2.4vw;
        font-weight: 400;
        transition: 0.5s;
    }
    .learnMore a {
        text-decoration: none;
        color: rgba(26, 112, 155);
    }
}