.highlights {
    width: 100%;
    height: 250vh;
    background: rgba(26, 112, 155, 0.05);
}
.text {
    position: relative;
    left: 10%;
    top: 13%;
    width: 70%;
}
.text h1 {
    color: #144761;
    font-size: 1.8vw;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #dededebb;
    width: 21%;
    height: 6vh;
}
.text p {
    width: 50%;
    color: #144761c2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.highlightsImg {
    position: relative;
    left: 65%;
    bottom: 9%;
    width: 30%;
}
.story {
    width: 80%;
    height: 27vh;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.story h1 {
    position: relative;
    text-align: center;
    color: #144761;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.story li {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    color: #144761c2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1vw;
    text-align: left;
    width: 80%;
}
.stories {
    position: relative;
    top: 0%;
    left: 5.5%;
    width: 70%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stories div:nth-child(2) {
    transform: translate(60%);
}
.stories div:nth-child(4) {
    transform: translate(60%);
    height: 17vh;
}
.story img {
    position: absolute;
    width: 6%;
    left: -3%;
    transform: translate(0%, 20%);
}
@media (max-width: 480px) {
    .highlights {
        height: 150vh;
    }
    .text {
        width: 90%;
        margin-top: 30%;
        padding-top: 30%;
        top: 8%;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text p {
        width: 100%;
        font-weight: normal;
    }
    .text h1 {
        font-size: 6vw;
        width: 55%;
        height: 4vh;
    }
    .story {
        width: 95%;
        height: 10vh;
    }
    .stories {
        width: 100%;
        left: 0%;
        align-items: center;
        justify-content: space-evenly;
        top: -5%;
    }
    .stories div:nth-child(1) {
        height: 14vh;
    }
    .stories div:nth-child(2) {
        transform: translate(0%);
        height: 12.5vh;
    }
    .stories div:nth-child(3) {
        height: 11vh;
    }
    .stories div:nth-child(4) {
        transform: translate(0%);
        height: 7vh;
    }
    .story h1 {
        font-size: 3vw;
    }
    .story li {
        font-size: 2vw;
        text-align: center;
        font-weight: bold;
        color: rgb(140, 140, 140);
    }
    .highlightsImg {
        left: 50%;
        transform: translate(-50%);
        bottom: 24%;
        width: 45%;
    }
}