.footer {
    width: 100%;
    height: 25vh;
    background: rgba(26, 112, 155, 0.1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer h1 {
    color: #144761;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #dededebb;
    width: 6%;
    height: 5vh;
}
.footerItems {
    position: relative;
    right: 2.5%;
    top: 7%;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item img {
    width: 25px;
}
.item p {
    position: relative;
    left: 5%;
    color: #1A709B;
    font-weight: lighter;
}
.rights {
    width: 100%;
    height: 5vh;
    background: rgba(26, 112, 155, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rights h2 {
    font-size: 2vw;
    font-weight: lighter;
}

@media (max-width: 480px) {
    .footerItems {
        flex-direction: column;
        align-items: start;
        left: 5%;
        top: -3%;
    }
    .item img {
        width: 20px;
    }
    .footer h1 {
        font-size: 5vw;
        width: 19%;
        height: 4vh;
        position: relative;
        left: 5%;
    }
    .footer {
        align-items: start;
    }
    .item p {
        font-size: 3vw;
    }
    .item a {
        font-size: 3vw;
        position: relative;
        left: 5%;
    }
}